{% extends 'base.html' %}

{% block body %}
{% load crispy_forms_tags %}
<!-- <div class="container m-5"> -->
<div class="main-container">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- <div class="row"> -->
        <p><strong>Property Address:</strong>
        {{message.property}}</p>
      <!-- </div> -->

      <hr class="mb-5">
      <p>Message</p>
      <div class="message-panel mb-3">
        {% if all_msgs %}
          {% for msg in all_msgs %}
            <div style="background-color:aliceblue;" class="px-2 py-1 my-4">
              <p>{{ msg.message|safe }}</p>
              <div class="d-flex justify-content-between px-3">
                <small>
                  {% if request.user == msg.sender %}
                    You
                  {% else %}
                    {{msg.sender}}
                  {% endif %}
                </small>
                <small>{{msg.message_date}}</small>
              </div>
            </div>

          {% endfor %}
        {% endif %}
      </div>

      <form method="post">
        {% include "messages.html" %}
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row justify-content-center pb-3">
          <input type="submit" class="btn btn-primary btn-md" name="reply" value="Reply">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
